.bg-dark-light {
    background: #323232 !important;
}
.bg-theme, .bg-dark, .bg-dark-light, .bg-secondary {
    color: #ffffff;
}
.widgets.footer-widgets .widget-title {
    color: #ffffff;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    margin-bottom: 30px;
    letter-spacing: 0.5px;
    position: relative;
    padding-bottom: 15px;
}

.widgets.footer-widgets .widget-title::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 2px;
    width: 100px;
    background: #13bfb1;
}
.widgets.footer-widgets .widget-quick-links ul {
    margin-top: -4px;
}
.widgets.footer-widgets .single-widget ul {
    padding-left: 0;
    margin-bottom: 0;
}
