{% load static %}
<div class="footer-bottom-area bg-dark-light section-padding-sm">
        <div class="container">
            <div class="row widgets footer-widgets">

                <div class="col-lg-3 col-md-6 col-sm-3 col-12">
                    <div class="single-widget widget-about">
                        <h5 class="widget-title">About Us</h5>
                        <i class="fa fa-info-circle" style="font-size: 20px"></i>
                        We are a team of designers and developers that create high quality <a href="www.dkstudio.in">Readmore...</a>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-3 col-12" style="margin-left:15px">
                    <div class="row">
                    <div class="single-widget widget-quick-links">
                        <h5 class="widget-title">My Account</h5>
                        <ul>
                            <li><a href="#">Privacy Policy</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                    </div>
                    <div class="row" style="margin-top: 30px;margin-left: 0px"><h2>Follow us</h2></div>
                    <div class="row">
                        <div class="col-sm-2 col-xs-2">
                        {% for social in social_links %}
                        {% if social.name == "facebook" %}
                        <a href="{{ social.link }}">
                        <div class="container" style="width:40px;height: 40px; background:royalblue;border-radius: 20px">
                            <i class="fa fa-facebook social_icon" style="font-size: 30px;margin-top: 5px;margin-left: -4px"></i>
                        </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                        </div>
                        <div class="col-sm-2 col-xs-2">
                        {% for social in social_links %}
                        {% if social.name == "twitter" %}
                        <a href="{{ social.link }}">
                        <div class="container" style="width:40px;height: 40px; background:#14F6F6;border-radius: 20px">
                            <i class="fa fa-twitter social_icon" style="font-size: 30px;margin-left: -8px;margin-top: 5px"></i>
                        </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                        </div>
                        <div class="col-sm-2 col-xs-2">
                        {% for social in social_links %}
                        {% if social.name == "youtube" %}
                        <a href="{{ social.link }}">
                        <div class="container" style="width:40px;height: 40px; background:rgb(243, 53, 53);border-radius: 20px">
                            <i class="fa fa-youtube social_icon" style="font-size: 30px;margin-left: -7px;margin-top: 5px"></i>
                        </div>
                        </a>
                        {% endif %}
                        {% endfor %}
                        </div>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-3 col-12">
                    <div class="single-widget widget-quick-links">
                        <h5 class="widget-title">Customer Service</h5>
                        <ul>
                            <li><a href="#">Shipping Policy</a></li>
                            <li><a href="#">Return Policy</a></li>
                            <li><a href="#">Contact Us</a></li>
                        </ul>
                    </div>
                </div>

                <div class="col-lg-3 col-md-6 col-sm-3 col-12">
                    <div class="single-widget widget-contact">
                        <h5 class="widget-title">Contact Us</h5>
                        <ul>
                            <li class="address">
                                <span class="icon"><i class="fa fa-map-marker"></i></span>
                                Address : No 100 Baria Sreet 100/2  Jaipur City, IN.
                            </li>
                            <li class="phone">
                                <span class="icon"><i class="fa fa-phone"></i></span>
                                <a href="#">+91 7568 54 3012</a>
                            </li>
                            <li class="fax">
                                <span class="icon"><i class="fa fa-fax"></i></span>
                                <a href="#">+91 7568 54 3012</a>
                            </li>
                            <li class="email">
                                <span class="icon"><i class="fa fa-envelope-o"></i></span>
                                <a href="#">dkstudioin@gmail.com</a>
                            </li>
                        </ul>
                    </div>
                </div>
