{% load static %}
<div class="container-fluid topbar">
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-6">
                    {% for social in social_links %}
                    {% if social.name == "facebook" %}
                        <a href="{{ social.link }}">
                        <i class="fa fa-facebook-f social_icon" data-toggle="tooltip" data-placement="bottom" title="Facebook" ></i>
                        </a>
                    {% endif %}
                    {% endfor %}
                    
                    {% for social in social_links %}
                    {% if social.name == "google" %}
                        <a href="{{ social.link }}">
                        <i class="fa fa-google-plus social_icon" data-toggle="tooltip" data-placement="bottom" title="Google+"></i>
                        </a>
                    {% endif %}
                    {% endfor %}
                    
                    {% for social in social_links %}
                    {% if social.name == "twitter" %}
                        <a href="{{ social.link }}">
                        <i class="fa fa-twitter social_icon" data-toggle="tooltip" data-placement="bottom" title="Twitter"></i>
                    {% endif %}
                    {% endfor %}

                    {% for social in social_links %}
                    {% if social.name == "youtube" %}
                        <a href="{{ social.link }}">
                        <i class="fa fa-youtube social_icon" data-toggle="tooltip" data-placement="bottom" title="Youtube"></i>
                        </a>
                    {% endif %}
                    {% endfor %}
                    </div>
                <div class="col-sm-6 col-xs-6 text-right" style="color: white">
                        <i class="fa fa-phone p_number" style="margin-right: 10px"></i>+91-9793-793-298
                        
                </div>    
            </div>
        </div>
    </div>

    <!-- SItename -->
    <div class="container" style="font-family: Georgia, 'Times New Roman', Times, serif">
        <div class="row">
            <div class="col-sm-2 col-xs-2" style="color:cornflowerblue; margin-top: 10px; ">
                    {% if request.user.is_authenticated %}

                        <button class="btn dropdown-toggle" style="background: transparent" type="button" data-toggle="dropdown">        
                        <p class="user_name">{% if user.first_name %}
                            {{ request.user.first_name|title }}

                        {% else %}
                            {{ request.user.username }}
                        {% endif %}</p>
                        <i class="fa fa-user"></i><br/>
                        <span class="caret"></span></button>
                        <ul class="dropdown-menu">
                        <li><a href="{% url 'shop:logout' %}" class="user_drop">Logout</a></li>
                        <li><a href="{% url 'shop:my_orders' %}" class="user_drop">My Orders</a></li>
                        </ul>

                    {% else %}
                    <a href="/login/">
                    <button class="btn btn-info hovershadow login_navbar">
                        Login</button>
                    </a>
                    {% endif%}

                   
                


                    

                    
            </div>
            <div class="col-sm-8 col-xs-8">
                {% for h in head %}
                <div class="row site_name">
                    {% if h.name %}
                      <a href="{% url "shop:product_list" %}">{{ h.name|upper }}</a>
                    {% endif %}
                    
                </div>
            
                <div class="row tagline">
                    {% if h.tagline %}
                    {{ h.tagline|title }}
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <div class="dropdown">
            <div class="col-sm-2 col-xs-2 text-right cart_icon">
                    
                            <a href="{% url "cart:cart_detail" %}"><i class="fa fa-cart-plus hovershadow"></i></a>
                            
                                
                           
                    
            </div>
            </div>
        </div>
    </div>

    <!-- menu icons -->
    <div class="container-fluid" style="background:royalblue;font-family: Georgia, 'Times New Roman', Times, serif">
        <div class="row">
           
            <div class="col-sm-9 col-xs-3 my_menu">
                    <nav class="navbar-center navbar-default">

                            <button class="btn dropdown-toggle small_menu" style="background: transparent" type="button" data-toggle="dropdown">        
                        
                                    <i class="fa fa-bars" style="color:white"></i><br/>
                                    <span class="caret" style="color:white;margin-top: -10px"></span></button>
                                    <ul class="dropdown-menu">
                                            <li {% if not category %} class="active"{% endif %}><a href="{% url 'shop:product_list' %}">Home</a></li>
                                            {% for c in categories %}
                                            <li {% if category.slug == c.slug %} class="active" {% endif %}>
                                                <a href="{{ c.get_absolute_url }}">{{ c.name|upper }}</a></li>
                                            {% endfor %}
                                    </ul>

                            <!-- <div class="navbar-header">
                              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynavbar">
                                  <i class="fa fa-bars"></i>
                              </button>
                            </div> -->
                
                            <div class="collapse navbar-collapse large_menu" id="mynavbar">
                          <ul class="nav navbar-nav" style="float: none;">
                            <li {% if not category %} class="active"{% endif %}><a href="{% url 'shop:product_list' %}">Home</a></li>
                            {% for c in categories %}
                            <li {% if category.slug == c.slug %} class="active" {% endif %}>
                                <a href="{{ c.get_absolute_url }}">{{ c.name|upper }}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                        </nav>
            </div>
            
            <div class="col-sm-3 col-xs-9">
                    <form class="form-inline pull-right" style="margin-top: 7px" action="{% url 'shop:product_list' %}" method="GET">
                            {% csrf_token %}
                            <div class="col-sm-9 col-xs-9">
                            <input class="form-control search_input" type="search" name="query" placeholder="Search" aria-label="Search">
                            </div>
                            <div class="col-sm-3 col-xs-3">
                            <button id="srcbtn" class="btn searchbtn" type="submit" style="background:#f26522">
                                    <i class="fa fa-search"></i>
                            </button>
                            </div>
                    </form>
            </div>
        </div>
    </div>